table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
    height: 235px;
}

.th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.th {
  background-color: #f2f2f2;
}

.time,
.day {
  background-color:#eeeee4;
}

.iscnlab {
  background-color: #b3b3ff;
}

.pe3 {
  background-color: #ccffff;
}

.is {
  background-color: #ffcccc;
}

.pe2 {
  background-color: #ffff99;
}

.aiis {
  background-color: #ffd699;
}

.break {
  background-color: #f2f2f2;
}

.fca {
  background-color: #ffb3e6;
}

.iaf {
  background-color: #b3e6e6;
}

.cn {
  background-color: #e28743;
}

.bcvs {
  background-color: #e6ccff;
}

.ai {
  background-color: #b3ffcc;
}

.period {
  background-color: #cccccc;
}

.cnai {
  background-color: #cc99ff;
}

.style1
        {
            background-color: #e6ccff;
            height: 24px;
        }
.style2
        {
            background-color: #ffb3e6;
            height: 25px;
        }
.style3
        {
            background-color: #b3ffcc;
            height: 28px;
        }
.style4
        {
            background-color: #ffcccc;
            height: 26px;
        }
        
.top
{
      
       display: flex;

       gap: 120px;
}

.bottom
{
      display: flex;

       gap: 150px;
}