<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="top">
    <section class='header'>
        <div class='centered-text'>Header Section</div>
    </section>

    <section class='side'>
        <div class='centered-text'>Side Section</div>
    </section>

    <section class='main-section'>
        <div class='centered-text'>Main Section</div>
    </section>

    <section class='certificate-section'>
        <div class='centered-text'>Certificate Section</div>
    </section>

    <div style="padding: 50px">
        <div class='centered-text'><a href="#top">Go back to top</a></div>
    </div>
</body>
</html>
